@{
    ViewBag.Title = "Catalog";
}

<h2>Catalog</h2>
@section featured {

    <table style="width:100%">

	<!--    1-ST ---- ROW  -->
	<tr style="background-color:#eee">
		
        <!-- 1st ROW - 1st ITEM -->
		<td style="width:25%;height:400px; background-color:#ccc;background-image:url()">
			<div style="width:300px;height:300px;background-color:#333;margin:0 auto;">
			<div id ="top" style="background-color:blue;height:200px;">
				<img src= "@Url.Content("~/images/IvoryBlackFlower_300_200.jpg")" alt="IMAGES" />
			</div>

			
                
            <div id ="bottom" style="height:100px;">
			
             <table style="width:100%;margin:3,0,0,0">
				
				<tr style="height:20px">
					<td style="width:60%;background-color:#333;font-family:Old English Text MT;color:#FF9933;">
					Product Code
					</td>
					<td style="width:40%;background-color:#333;font-family:Times New Roman;font-size:16px;Color:#7E9DB9">
					A108
					</td>
				</tr>
				<tr style="height:20px">
					<td style="width:60%;background-color:#333;font-family:Old English Text MT;color:#FF9933;">
					Product Name
					</td>
					<td style="width:40%;background-color:#333;font-family:Times New Roman;font-size:16px;color:#7E9DB9">
					Hibiscus flower
					</td>
				</tr>
				<tr style="height:20px">
					<td style="width:60%;background-color:#333;font-family:Old English Text MT;color:#FF9933;">
					Price
					</td>
					<td style="width:40%;background-color:#333;font-family:Times New Roman;font-size:16px;Color:#7E9DB9">
					INR 40.00
					</td>
				</tr>
				<tr style="height:20px">
					<td style="width:60%;background-color:#333;font-family:Old English Text MT;color:#FF9933;">
					Availability
					</td>
					<td style="width:40%;background-color:#333;font-family:Times New Roman;font-size:16px;Color:#7E9DB9">
					Available
					</td>
				</tr>
				
				<tr style="height:20px">
					<td style="width:60%;background-color:#333;font-family:Old English Text MT;color:#FF9933;">
					</td>
					<td style="width:40%;background-color:#333;font-family:Times New Roman;font-size:16px;Color:#7E9DB9" align="right">
					<input type="button" value="Add to Cart"/>
					</td>
				</tr>
								
			</table>
		</div>
		</div>
	</td>

    <!-- 1st ROW - 2nd ITEM -->

		<td style="width:25%;height:400px; background-color:#ccc;background-image:url()">
			<div style="width:300px;height:300px;background-color:#333;margin:0 auto;">
			<div id ="top" style="background-color:blue;height:200px;">
				<img src= "@Url.Content("~/images/IvoryBlackFlower_300_200.jpg")" alt="IMAGES" />
			</div>

			
                
            <div id ="bottom" style="height:100px;">
			
             <table style="width:100%;margin:3,0,0,0">
				
				<tr style="height:20px">
					<td style="width:60%;background-color:#333;font-family:Old English Text MT;color:#FF9933;">
					Product Code
					</td>
					<td style="width:40%;background-color:#333;font-family:Times New Roman;font-size:16px;Color:#7E9DB9">
					A108
					</td>
				</tr>
				<tr style="height:20px">
					<td style="width:60%;background-color:#333;font-family:Old English Text MT;color:#FF9933;">
					Product Name
					</td>
					<td style="width:40%;background-color:#333;font-family:Times New Roman;font-size:16px;color:#7E9DB9">
					Hibiscus flower
					</td>
				</tr>
				<tr style="height:20px">
					<td style="width:60%;background-color:#333;font-family:Old English Text MT;color:#FF9933;">
					Price
					</td>
					<td style="width:40%;background-color:#333;font-family:Times New Roman;font-size:16px;Color:#7E9DB9">
					INR 40.00
					</td>
				</tr>
				<tr style="height:20px">
					<td style="width:60%;background-color:#333;font-family:Old English Text MT;color:#FF9933;">
					Availability
					</td>
					<td style="width:40%;background-color:#333;font-family:Times New Roman;font-size:16px;Color:#7E9DB9">
					Available
					</td>
				</tr>
				
				<tr style="height:20px">
					<td style="width:60%;background-color:#333;font-family:Old English Text MT;color:#FF9933;">
					</td>
					<td style="width:40%;background-color:#333;font-family:Times New Roman;font-size:16px;Color:#7E9DB9" align="right">
					<input type="button" value="Add to Cart"/>
					</td>
				</tr>
								
			</table>
		</div>
		</div>
	</td>


    <!-- 1st ROW - 3rd ITEM -->

		<td style="width:25%;height:400px; background-color:#ccc;background-image:url()">
			<div style="width:300px;height:300px;background-color:#333;margin:0 auto;">
			<div id ="top" style="background-color:blue;height:200px;">
				<img src= "@Url.Content("~/images/IvoryBlackFlower_300_200.jpg")" alt="IMAGES" />
			</div>

			
                
            <div id ="bottom" style="height:100px;">
			
             <table style="width:100%;margin:3,0,0,0">
				
				<tr style="height:20px">
					<td style="width:60%;background-color:#333;font-family:Old English Text MT;color:#FF9933;">
					Product Code
					</td>
					<td style="width:40%;background-color:#333;font-family:Times New Roman;font-size:16px;Color:#7E9DB9">
					A108
					</td>
				</tr>
				<tr style="height:20px">
					<td style="width:60%;background-color:#333;font-family:Old English Text MT;color:#FF9933;">
					Product Name
					</td>
					<td style="width:40%;background-color:#333;font-family:Times New Roman;font-size:16px;color:#7E9DB9">
					Hibiscus flower
					</td>
				</tr>
				<tr style="height:20px">
					<td style="width:60%;background-color:#333;font-family:Old English Text MT;color:#FF9933;">
					Price
					</td>
					<td style="width:40%;background-color:#333;font-family:Times New Roman;font-size:16px;Color:#7E9DB9">
					INR 40.00
					</td>
				</tr>
				<tr style="height:20px">
					<td style="width:60%;background-color:#333;font-family:Old English Text MT;color:#FF9933;">
					Availability
					</td>
					<td style="width:40%;background-color:#333;font-family:Times New Roman;font-size:16px;Color:#7E9DB9">
					Available
					</td>
				</tr>
				
				<tr style="height:20px">
					<td style="width:60%;background-color:#333;font-family:Old English Text MT;color:#FF9933;">
					</td>
					<td style="width:40%;background-color:#333;font-family:Times New Roman;font-size:16px;Color:#7E9DB9" align="right">
					<input type="button" value="Add to Cart"/>
					</td>
				</tr>
								
			</table>
		</div>
		</div>
	</td>
        </tr>
    </table>
}